.head-main{
    background-image: url(/pics/main/head_main.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    min-height: 700px;
}

.head-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
	font-weight: bold;
	color: rgba(27, 188, 155, 1)!important;
}

.header-day{
	min-width: 100px!important;
	width: 100px!important;
}
.day-number{
	min-width: 100px!important;
	width: 100px!important;
}
.cal-body{
	min-width: 100%!important;
	width: 100%!important;
}
.cal-body .cal-day td{
	border: solid 1px;
}
.cal-body .day{
	position: relative;
	min-width: 14%!important;
	width: 14%!important;
	height: 150px;
}
.cal-body .cal-day .day-content{
	position: absolute;
	border-bottom: solid 1px;
	width: 100%!important;
	background-color: rgba(214, 233, 198, 0.8);
	top: 0px;
	font-size: 1.2em;
}
.cal-body .cal-day .day{
	background-color: rgba(188, 232, 241, 0.4);
}
.cal-body .cal-day .last-month{
	background-color: rgba(250, 235, 204, 0.6);
}
.cal-body .cal-day .next-month{
	background-color: rgba(250, 235, 204, 0.6);
}
.clndr-controls .month{
	font-size: 2em;
}
.clndr-controls .glyphicon{
	font-size: 1.5em;
}

.navbar{
	background-color: rgba(45,62,80, 1);
	color: rgba(255,255,255, 1);
}

.navbar a{
	color: rgba(255,255,255, 1)!important;
}

.panel-footer{
	background-color: rgba(45,62,80, 1);
	color: rgba(255,255,255, 1)!important;
}
.panel-footer a{
	color: rgba(255,255,255, 1)!important;
}

.panel-success .panel-heading{
	background-color: rgba(27,188,155, 1);
	color: rgba(255,255,255, 1)!important;
}
.panel-info .panel-heading{
	background-color: rgba(45,62,80, 1);
	color: rgba(255,255,255, 1)!important;
}
.panel-warning .panel-heading{
	background-color: rgba(45,62,80, 1);
	color: rgba(255,255,255, 1)!important;
}

.btn-primary{
	background-color: rgba(45,62,80, 1);
	border: 0!important;
}

.img-box-food{
    background-image: url(/pics/main/foodplan_main.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    min-height: 450px;
}
.img-box-train{
    background-image: url(/pics/main/trainplan_main.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    min-height: 450px;
}
.img-box-rnd{
    background-image: url(/pics/main/foodplan_main.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    min-height: 450px;
}

.img-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
	font-weight: bold;
	color: rgba(27, 188, 155, 1)!important;
}
.clear{
	padding: 0;
	margin: 0;
}